<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Chat chat bot</title>
</head>
<body>
    <div class="chatbox-wrapper">
        <div class="message-box">
            <div class="chat response">
                <img src="../assets/img/robo.png" alt="user">
                <span>Bonjour, c'est morcas assistant, de quoi puis-je vous aider aujourd'hui ?</span>
            </div>
        </div>
        <div class="messagebar">
            <div class="bar-wrapper">
                <input type="text" placeholder="Posez-moi une question...">
                <button>
                    <span class="material-symbols-outlined">
                        send
                    </span>
                </button>
            </div>
        </div>
    </div>

    <script src="../controls/chat-bot.js"></script>
</body>
</html>