<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Chat chat bot</title>
</head>
<body>
    <div class="chatbox-wrapper">
        <div class="message-box">
            <div class="chat response">
                <img src="../assets/img/user.png" alt="user">
                <span>
                    Hi,
                     <br>
                     How are u ?
                </span>
            </div>
            <div class="chat message">
                <img src="../assets/img/robo.png" alt="">
            </div>
        </div>
    </div>
</body>
</html>